<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cuni.mff.ms.siptak.adeecolib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.CompactMenu" >
        <activity
            android:name="cz.cuni.mff.ms.siptak.adeeco.AdeecoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.cuni.mff.ms.siptak.adeeco.PreferencesActivity"
            android:label="@string/preference_activity_title"
            android:parentActivityName="cz.cuni.mff.ms.siptak.adeeco.AdeecoActivity" >
        </activity>

        <service android:name="cz.cuni.mff.ms.siptak.adeeco.service.AdeecoService" >
        </service>

        <activity android:name="cz.cuni.mff.ms.siptak.adeeco.FragmentLayout" >
        </activity>
        <activity
            android:name="cz.cuni.mff.ms.siptak.adeeco.BundleListActivity"
            android:label="@string/title_bundle_list" >
        </activity>
        <activity
            android:name="cz.cuni.mff.ms.siptak.adeeco.BundleDetailActivity"
            android:label="@string/title_bundle_detail"
            android:parentActivityName="cz.cuni.mff.ms.siptak.adeeco.BundleListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cuni.mff.ms.siptak.adeecolib.BundleListActivity" />
        </activity>
    </application>

</manifest>
